.customClass
{
 background : url("black.png");
}
.customClass1
{
  background-image: url("incep.jpg");
}
.customClass2
{
  background-image: url("badri-1.jpg");
}
.customClass3
{
  background-image:url("3 idiots.jpg");
}
